<%# Inspired by https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation %>
<div data-controller="modal" data-action="keydown.esc->modal#close" data-modal-visible-class="block" data-modal-hidden-class="hidden">
  <%= controller %>
  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" data-modal-target="dialog" data-action="click->modal#toggle">
    <div class="relative sm:my-6 mx-auto sm:min-w-72 sm:max-w-xl">
      <!--content-->
      <div class="px-6 pb-6 sm:p-6 border-0 h-screen sm:h-auto sm:rounded-3xl sm:shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="hidden sm:block">
          <h3 class="text-2xl font-semibold">
            <%= @title %>
          </h3>
        </div>
        <div class="sm:hidden flex items-center justify-between gap-2">
          <div class="flex items-center justify-start gap-4 h-14 content-center">
            <button type="button" class="relative rounded-full text-gray-800 p-2 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" data-action="modal#close">
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Cancel</span>
              <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
              </svg>
            </button>
            <h3 class="text-xl font-normal">
              <%= @title %>
            </h3>
          </div>
          <%= button_tag "Save", class: "button text-button", data: { action: "modal#submitForm" } %>
        </div>
        <!--body-->
        <%= body %>
        <!--footer-->
        <% if footer? %>
          <%= footer %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" data-modal-target="backdrop"></div>
</div>