<%= render(PlainTooltipComponent.new(tooltip: t(".tooltip"))) do %>
  <%= form_with model: scale, method: :delete, data: { turbo: false, action: 'delete#updateLocalStorage' } do |form| %>
    <%= excluded_fields %>
    <%= button_tag class: 'standard-icon-button' do %>
      <span class="sr-only"><%= t("actions.delete") %></span>
      <%= inline_svg_tag("icons/trash.svg") %>
    <% end %>
  <% end %>
<% end %>
