<%= render(PlainTooltipComponent.new(tooltip: "Delete")) do %>
  <%= form_with model: scale, method: :delete, data: { action: 'delete#updateLocalStorage' } do |form| %>

    <%= excluded_fields %>
    <%= button_tag class: 'standard-icon-button' do %>
      <span class="sr-only">Delete</span>
      <%= inline_svg_tag("icons/trash.svg") %>
    <% end %>
  <% end %>
<% end %>
