<li
  data-controller="pin"
  data-pin-mode-number-value="<%= scale.mode_number %>"
  class="scale-outlet"
  data-pin-shown-class="block"
  data-pin-hidden-class="hidden"
>
  <input type="radio" name="scale" id="<%= dom_id(scale) %>" class="hidden peer"/>
  <label
    for="<%= dom_id(scale) %>"
    class="
      flex flex-col gap-2 p-4 sm:border border-gray-200 sm:rounded-lg cursor-pointer
      peer-checked:border-primary-600 hover:bg-gray-100
      peer-checked:shadow-[0_0_0_2px] peer-checked:shadow-primary-500
      dark:border-gray-600 dark:hover:bg-gray-700
    "
  >
    <div class="flex justify-between">

      <div class="text-sm sm:text-lg sm:font-medium"><%= scale.common_name %></div>

      <div>
        <input
          type="checkbox"
          id="<%= dom_id(scale, 'pin') %>"
          value=""
          class="hidden peer"
          required=""
          data-action="pin#addOrRemovePin"
          data-pin-target="checkbox"
        >
        <label
          for="<%= dom_id(scale, 'pin') %>"
          class="
            inline-flex items-center justify-center p-2 m-1 rounded-full cursor-pointer
            text-black/80 dark:hover:text-gray-300 dark:border-gray-700
            peer-checked:text-primary-500 dark:peer-checked:text-primary-200
            hover:peer-checked:bg-primary-500/10 focus:peer-checked:bg-primary-500/20
            active:peer-checked:bg-primary-500/20 hover:bg-gray-500/10 dark:text-gray-200
            dark:hover:bg-gray-100/10 dark:focus:bg-gray-100/15 dark:active:bg-gray-100/15
            focus:bg-gray-500/15 active:bg-gray-500/15
          "
        >
          <div class="block">
            <span class="sr-only">Pin</span>
            <%= inline_svg_tag("icons/pin.svg") %>
          </div>
        </label>
      </div>
    </div>

    <%= render(DegreesScaleComponent.new(scale: scale, scale_settings: scale_settings)) %>
  </label>
</li>
