<div
  class="flex md:justify-between"
  data-controller="player"
  data-player-mode-number-value="<%= @scale.mode_number %>"
  data-player-pattern-name-value="<%= @pattern_name %>"
  data-player-loop-value="<%= @loop %>"
>
  <% @chromatic_scale.each_with_index do |note, index| %>
    <div
      class="
        w-10 flex justify-center items-center rounded-md md:border border-gray-300
        <%= note_class(index) %>
      "
      data-player-target="note"
    >
      <%= note %>
    </div>
  <% end %>
  <button
    class="
      inline-flex items-center text-sm font-medium text-white border
      border-transparent rounded-full bg-primary-500 hover:bg-primary-600
      focus:outline-none p-2.5 ml-2.5
    "
    type="button"
    data-action="click->player#play"
    data-player-target="playButton"
  >
    <%= inline_svg_tag("icons/play.svg") %>
    <div class="sr-only">Play</div>
  </button>
  <button
    class="
      items-center hidden text-sm font-medium text-white border border-transparent
      rounded-full bg-primary-500 hover:bg-primary-600 focus:outline-none p-2.5 ml-2.5
    "
    type="button"
    data-action="click->player#stop"
    data-player-target="pauseButton"
  >
    <%= inline_svg_tag("icons/pause.svg") %>
    <div class="sr-only">Pause</div>
  </button>
</div>
