<div class="flex justify-between">
  <div class="p-1 <%= n1_class %>" data-controller="player" data-action="click->player#playNote">C</div>
  <div class="p-1 <%= n2_class %>" data-controller="player" data-action="click->player#playNote">C#</div>
  <div class="p-1 <%= n3_class %>" data-controller="player" data-action="click->player#playNote">D</div>
  <div class="p-1 <%= n4_class %>" data-controller="player" data-action="click->player#playNote">D#</div>
  <div class="p-1 <%= n5_class %>" data-controller="player" data-action="click->player#playNote">E</div>
  <div class="p-1 <%= n6_class %>" data-controller="player" data-action="click->player#playNote">F</div>
  <div class="p-1 <%= n7_class %>" data-controller="player" data-action="click->player#playNote">F#</div>
  <div class="p-1 <%= n8_class %>" data-controller="player" data-action="click->player#playNote">G</div>
  <div class="p-1 <%= n9_class %>" data-controller="player" data-action="click->player#playNote">G#</div>
  <div class="p-1 <%= n10_class %>" data-controller="player" data-action="click->player#playNote">A</div>
  <div class="p-1 <%= n11_class %>" data-controller="player" data-action="click->player#playNote">A#</div>
  <div class="p-1 <%= n12_class %>" data-controller="player" data-action="click->player#playNote">B</div>
  <div class="p-1 <%= n1_class %>" data-controller="player" data-action="click->player#playNote">C</div>
</div>
