<div
  class="flex md:justify-between"
  data-controller="player"
  data-player-mode-number-value="<%= @scale.mode_number %>"
  data-player-pattern-name-value="<%= pattern_name %>"
  data-player-loop-value="<%= loop %>"
  data-player-tempo-value="<%= tempo %>"
>
  <% chromatic_scale.each_with_index do |note, index| %>
    <div <%= tag.attributes(note_attributes(index)) %>>
      <%= note %>
    </div>
  <% end %>
  <button
    class="
      inline-flex items-center text-sm font-medium border border-transparent
      rounded-full interactive-bg-primary focus:outline-none p-2.5 ml-2.5
    "
    type="button"
    data-action="click->player#play"
    data-player-target="playButton"
  >
    <%= inline_svg_tag("icons/play.svg", class: "text-on-primary") %>
    <div class="sr-only">Play</div>
  </button>
  <button
    class="
      items-center hidden text-sm font-medium border border-transparent rounded-full
      interactive-bg-primary focus:outline-none p-2.5 ml-2.5
    "
    type="button"
    data-action="click->player#stop"
    data-player-target="pauseButton"
  >
    <%= inline_svg_tag("icons/pause.svg", class: "text-on-primary") %>
    <div class="sr-only">Pause</div>
  </button>
</div>
