<%# Inspired by https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation %>
<div
  data-controller="modal"
  data-action="keydown.esc->modal#close"
  data-modal-visible-class="block"
  data-modal-hidden-class="hidden"
>
  <%= controller %>
  <div
    class="
      fixed inset-0 z-50 items-center justify-center hidden overflow-x-hidden
      overflow-y-auto outline-none focus:outline-none
    "
    data-modal-target="dialog"
    data-action="click->modal#toggle"
  >
    <div class="relative mx-auto sm:my-6 sm:min-w-72 sm:max-w-xl">
      <!--content-->
      <div
        class="
          relative flex flex-col w-full h-screen px-6 pb-6 bg-white border-0 outline-none
          sm:p-6 sm:h-auto sm:rounded-3xl sm:shadow-lg focus:outline-none dark:bg-gray-600
        "
      >
        <!--header-->
        <div class="hidden sm:block">
          <h3 class="text-2xl font-semibold">
            <%= @title %>
          </h3>
        </div>
        <div class="flex items-center justify-between gap-2 sm:hidden">
          <div class="flex items-center content-center justify-start gap-4 h-14">
            <button
              type="button"
              class="
                relative p-2 text-current rounded-full hover:bg-gray-100 dark:hover:bg-gray-500
                focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2
                focus:ring-offset-gray-800
              "
              data-action="modal#close"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Cancel</span>
              <%= inline_svg_tag("icons/x-mark.svg") %>
            </button>
            <h3 class="text-xl font-normal">
              <%= @title %>
            </h3>
          </div>
          <%= button_tag "Save",
          class: "button text-button",
          data: {
            action: "modal#submitForm",
          } %>
        </div>
        <!--body-->
        <%= body %>
        <!--footer-->
        <% if footer? %>
          <%= footer %>
        <% end %>
      </div>
    </div>
  </div>
  <div
    class="fixed inset-0 z-40 hidden bg-black opacity-25"
    data-modal-target="backdrop"
  ></div>
</div>
