<%# Inspired by https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation %>
<div
  data-controller="modal-component"
  data-action="keydown.esc->modal-component#close"
  data-modal-component-visible-class="block"
  data-modal-component-hidden-class="hidden"
>
  <%= controller %>
  <div
    class="fixed inset-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto outline-none  focus:outline-none"
    data-modal-component-target="dialog"
    data-action="click->modal-component#close"
  >
    <div class="relative mx-auto sm:my-6 sm:min-w-72 sm:max-w-xl">
      <!--content-->
      <div
        class="relative flex flex-col w-full h-screen px-6 pb-6 overflow-y-scroll border-0 outline-none  sm:bg-surface-container-high bg-surface-container sm:p-6 sm:h-auto sm:rounded-3xl sm:shadow-lg focus:outline-none"
      >
        <!--header-->
        <div class="hidden sm:block">
          <h3 class="text-2xl font-semibold">
            <%= @title %>
          </h3>
        </div>
        <div class="flex items-center justify-between gap-2 -mx-6 sm:hidden">
          <div class="flex items-center content-center justify-start gap-4 h-14">
            <button
              type="button"
              class="standard-icon-button"
              data-action="modal-component#close"
            >
              <span class="sr-only">Cancel</span>
              <%= inline_svg_tag("icons/x-mark.svg") %>
            </button>
            <h3 class="text-xl font-normal">
              <%= @title %>
            </h3>
          </div>
          <%= button_tag "Save",
          class: "button text-button",
          data: {
            action: "modal-component#submitForm",
          } %>
        </div>
        <!--body-->
        <%= body %>
        <!--footer-->
        <% if footer? %>
          <%= footer %>
        <% end %>
      </div>
    </div>
  </div>
  <div
    class="fixed inset-0 z-40 hidden bg-black/25"
    data-modal-component-target="backdrop"
  ></div>
</div>
